<div ngbDropdown class="d-inline-block">
    <button type="button" class="btn btn-outline-primary" id="dropdownDevice" ngbDropdownToggle>
        {{ selectedDevice?.name || 'Select device' }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownDevice">
        <button *ngFor="let device of devices" ngbDropdownItem (click)="onSelectDevice(device)">{{ device.name
            }}</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Energy</th>
            <td>
                <button type="button" class="btn" (click)="onCreateClick()">create</button>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let day of days">
            <th scope="row">{{ day.id }}</th>
            <td>{{ day.energy }}</td>
            <td>
                <button type="button" class="btn" (click)="onEditClick(day)">edit</button>
                <button type="button" class="btn" (click)="onDeleteClick(day)">delete</button>
            </td>
        </tr>
    </tbody>
</table>