<nav class="navbar bg-body-tertiary navbar-expand-lg ">
    <div class="container">
        <a class="navbar-brand" routerLink="/devices" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/ee.svg" alt="EstimEnergy" class="img-fluid" width="50" height="50">
            EstimEnergy
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/devices" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Devices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/energy" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Energy</a>
                </li>
            </ul>
        </div>
    </div>
</nav>